<hr/>
<br/>
<p>  This question I wont answer; 'tis a stupid question. Just take these manifestations of matter I might provide to you. Sometimes they won't be just matter but a mix of ||secret|| and ||more secret||.</p>
<br/>
<p>  Ah, you can't understand that yet. Never mind, carry on with good questions next time.</p>
<br/>
%columns(template="45 10 45")
	%column
		%item(id="ad_astra:mercury_globe" scale="1" align="right") &#32;
	%column
		%item(id="ad_astra:earth_globe" scale="1") &#32;
	%column
		%item(id="ad_astra:moon_globe" scale="1" align="left") &#32;
%columns(template="37 27 37")
	%column
		%item(id="ad_astra:mars_globe" scale="1" align="right") &#32;
		%item(id="ad_astra:glacio_globe" scale="1" align="right") &#32;
		%item(id="ad_astra:earth_globe" scale="1" align="right") &#32;
	%column
		%entity(type="villager"tag="{VillagerData:{profession:nitwit}}" scale="1") &#32;
	%column
		%item(id="ad_astra:venus_globe" scale="1" align="left") &#32;
		%item(id="ad_astra:moon_globe" scale="1" align="left") &#32;
		%item(id="ad_astra:mercury_globe" scale="1" align="left") &#32;
%columns(template="45 10 45")
	%column
		%item(id="ad_astra:mars_globe" scale="1" align="right") &#32;
	%column
		%item(id="ad_astra:glacio_globe" scale="1") &#32;
	%column
		%item(id="ad_astra:venus_globe" scale="1" align="left") &#32;
<br/>
<hr/>
