- nitwit_scale = 1
<hr/>
<br/>
<p>  This question I wont answer; 'tis a stupid question. Just take these manifestations of matter I might provide to you. Sometimes they won't be just matter but a mix of ||secret|| and ||more secret||.</p>
<br/>
<p>  Ah, you can't understand that yet. Never mind, carry on with good questions next time.</p>
<br/>
<br/>
%columns(template="38 24 38")
	%column
		%item(id="ad_astra:mercury_globe"	scale="1.3" align="right") &#32;
	%column(valign="top")
		%item(id="ad_astra:earth_globe"		scale="2.5") &#32;
	%column
		%item(id="ad_astra:moon_globe"		scale="1.6" align="left") &#32;
%columns(template="32 36 32")
	%column
		%item(id="ad_astra:mars_globe"		scale="1.4" align="right") &#32;
	%column
		%p &#160;
	%column
		%item(id="ad_astra:glacio_globe"	scale="2.25" align="left") &#32;
%columns(template="29 42 29")
	%column
		%item(id="ad_astra:earth_globe"		scale="2" align="right") &#32;
	%column
		%entity(type="villager"tag="{VillagerData:{profession:nitwit}}" scale="#{nitwit_scale}") &#32;
	%column
		%item(id="ad_astra:venus_globe"		scale="1.8" align="left") &#32;
%columns(template="32 36 32")
	%column
		%item(id="ad_astra:moon_globe"		scale="2.2" align="right") &#32;
	%column
		%p &#160;
	%column
		%item(id="ad_astra:mercury_globe"	scale="1.3" align="left") &#32;
%columns(template="38 24 38")
	%column
		%item(id="ad_astra:mars_globe"		scale="1.1" align="right") &#32;
	%column(valign="bottom")
		%item(id="ad_astra:glacio_globe"	scale="1.9") &#32;
	%column
		%item(id="ad_astra:venus_globe"		scale="1.25" align="left") &#32;
<br/>
<hr/>
