<hr/>
<br/>
%columns(template="45 10 45")
	%column
		%p(valign="top") Top left text.
		%img(src="textures/item/echo_shard.png" align="right" valign="bottom" width="64" height="64" textureWidth="128" textureHeight="128") &#32;
	%column
		%p vertical-magic
	%column
		%p(valign="top" align="right") Top right text.
		%img(src="textures/item/echo_shard.png" align="left" valign="bottom" width="64" height="64" textureWidth="128" textureHeight="128") &#32;
%p(align="center") horizontal-magic
%columns(template="45 10 45")
	%column
		%img(src="textures/item/echo_shard.png" align="right" valign="top" width="64" height="64" textureWidth="128" textureHeight="128") &#32;
		%p(valign="bottom") Bottom left text.
	%column
		%p vertical-magic
	%column
		%img(src="textures/item/echo_shard.png" align="left" valign="top" width="64" height="64" textureWidth="128" textureHeight="128") &#32;
		%p(valign="bottom" align="right") Bottom right text.
<br/>
<hr/>
