<hr/>
<br/>
%columns(template="49 1 49")
	%column
		%p(valign="top") Top left text.
		%img(src="textures/item/echo_shard.png" align="right" valign="bottom" width="64" height="64" textureWidth="128" textureHeight="128") &#32;
	%column
		%p(align="center" obfuscated="true" align="center" color="goldenrod" background="1 darkgoldenrod") 01234567
	%column
		%p(valign="top" align="right") Top right text.
		%img(src="textures/item/amethyst_shard.png" align="left" valign="bottom" width="64" height="64" textureWidth="128" textureHeight="128" u="8" background="0 gold") &#32;
%p(align="center" bold="true" obfuscated="true" shadow="true" color="goldenrod" background="1 darkgoldenrod") 0123456789012345678901234567890123456789
%columns(template="48 4 48")
	%column
		%img(src="textures/item/echo_shard.png" align="right" valign="top" width="64" height="64" textureWidth="128" textureHeight="128") &#32;
		%p(valign="bottom") Bottom left text.
	%column
		%p(align="center" obfuscated="true" shadow="true" color="goldenrod" background="1 darkgoldenrod") 0123456789
	%column
		%img(src="textures/item/echo_shard.png" align="left" valign="top" width="64" height="64" textureWidth="128" textureHeight="128") &#32;
		%p(valign="bottom" align="right") Bottom right text.
<br/>
<hr/>
