<hr/>
<br/>
%columns(template="45 10 45")
	%column
		%item(id="ad_astra:moon_globe" scale="2" align="right") &#32;
	%column
		%item(id="ad_astra:earth_globe" scale="2") &#32;
	%column
		%item(id="ad_astra:mars_globe" scale="2" align="left") &#32;
%columns(template="37 27 37")
	%column
		%item(id="ad_astra:mercury_globe" scale="2" align="right") &#32;
		%item(id="ad_astra:venus_globe" scale="2" align="right") &#32;
		%item(id="ad_astra:glacio_globe" scale="2" align="right") &#32;
	%column
		%entity(type="villager"tag="{VillagerData:{profession:nitwit}}" scale="1.5") &#32;
	%column
		%item(id="ad_astra:glacio_globe" scale="2" align="left") &#32;
		%item(id="ad_astra:venus_globe" scale="2" align="left") &#32;
		%item(id="ad_astra:mercury_globe" scale="2" align="left") &#32;
%columns(template="45 10 45")
	%column
		%item(id="ad_astra:mars_globe" scale="2" align="right") &#32;
	%column
		%item(id="ad_astra:earth_globe" scale="2") &#32;
	%column
		%item(id="ad_astra:moon_globe" scale="2" align="left") &#32;
		
<br/>
<hr/>
