%columns
	%column
		%columns
			%column
				%columns
					%column
						%item(id="minecraft:diamond_pickaxe" scale="1") &#32;
					%column
						%item(id="minecraft:diamond_pickaxe" scale="2") &#32;
			%column
				%columns
					%column
						%item(id="minecraft:diamond_pickaxe" scale="3") &#32;
					%column
						%item(id="minecraft:diamond_pickaxe" scale="4" background="2 crimson") &#32;
	%column
		%columns
			%column
				%columns
					%column
						%img(src="textures/block/stone.png" width="64" height="64" background="2 crimson") &#32;
					%column
						%img(src="textures/block/stone.png" width="32" height="32" background="2 orange" align="right") &#32;
						%img(src="textures/block/stone.png" width="32" height="32" background="2 orange" align="right" textureWidth="32" textureHeight="32" u="17" v="18") &#32;
						%img(src="textures/block/stone.png" width="32" height="32" background="2 orange" align="right") &#32;
			%column
				%columns
					%column
						- (0...4).each do |i|
							%img(src="textures/block/stone.png" width="16" height="16" background="1 goldenrod" align="right") &#32;
					%column
						- (0...8).each do |i|
							%img(src="textures/block/stone.png" width="8" height="8" align="right") &#32;
