%columns(template="50 50")
	%column
		%columns
			%column
				%columns
					%column
						%item(id="minecraft:diamond_pickaxe" scale="1" align="left") &#32;
					%column
						%item(id="minecraft:diamond_pickaxe" scale="2.5" align="left") &#32;
			%column
				%columns
					%column
						<br/>
					%column
						%item(id="minecraft:diamond_pickaxe" scale="4" align="right") &#32;
	%column
		%columns
			%column
				%columns
					%column
						%img(src="textures/block/stone.png" width="64" height="64") &#32;
					%column
						%img(src="textures/block/cobblestone.png" width="32" height="32" align="right" valign="top") &#32;
						<br/>
						%img(src="textures/block/cobblestone.png" width="32" height="32" align="center") &#32;
			%column
				%columns
					%column
						%img(src="textures/block/cobblestone.png" width="16" height="16" align="center" background="1 black" valign="top") &#32;
						%img(src="textures/block/cobblestone.png" width="16" height="16" align="center" background="1 black" align="right") &#32;
						%img(src="textures/block/cobblestone.png" width="16" height="16" align="center" background="1 black") &#32;
						%img(src="textures/block/cobblestone.png" width="16" height="16" align="center" background="1 black" align="left" valign="bottom") &#32;
						%img(src="textures/block/cobblestone.png" width="16" height="16" align="center" background="1 black") &#32;
					%column
						%img(src="textures/block/cobblestone.png" width="8" height="8" align="center" background="1 black" align="right" valign="top") &#32;
						%img(src="textures/block/cobblestone.png" width="8" height="8" align="center" background="1 black" valign="top") &#32;
						%img(src="textures/block/cobblestone.png" width="8" height="8" align="center" background="1 black" align="left") &#32;
						%img(src="textures/block/cobblestone.png" width="8" height="8" align="center" background="1 black" valign="bottom") &#32;
						%img(src="textures/block/cobblestone.png" width="8" height="8" align="center" background="1 black" align="right") &#32;
						%img(src="textures/block/cobblestone.png" width="8" height="8" align="center" background="1 black") &#32;
						%img(src="textures/block/cobblestone.png" width="8" height="8" align="center" background="1 black" align="left" valign="top") &#32;
						%img(src="textures/block/cobblestone.png" width="8" height="8" align="center" background="1 black" align="right") &#32;
						%img(src="textures/block/cobblestone.png" width="8" height="8" align="center" background="1 black" valign="bottom") &#32;
