<hr/>
<br/>
%columns
	%column
		%item(id="minecraft:diamond_pickaxe" scale="4" align="right") &#32;
	%column
		%columns
			%column
				%columns
					%column
						%item(id="stone" scale="4") &#32;
					%column
						%item(id="cobblestone" scale="3" align="right" valign="top") &#32;
						<br/>
						%item(id="cobblestone" scale="3" align="center") &#32;
			%column
				%columns
					%column
						%item(id="cobblestone" scale="2" align="center" valign="top") &#32;
						%item(id="cobblestone" scale="2" align="center" align="right") &#32;
						%item(id="cobblestone" scale="2" align="center") &#32;
						%item(id="cobblestone" scale="2" align="center" align="left" valign="bottom") &#32;
						%item(id="cobblestone" scale="2" align="center") &#32;
					%column
						%item(id="cobblestone" scale="1" align="center" align="right" valign="top") &#32;
						%item(id="cobblestone" scale="1" align="center" valign="top") &#32;
						%item(id="cobblestone" scale="1" align="center" align="left") &#32;
						%item(id="cobblestone" scale="1" align="center" valign="bottom") &#32;
						%item(id="cobblestone" scale="1" align="center" align="right") &#32;
						%item(id="cobblestone" scale="1" align="center") &#32;
						%item(id="cobblestone" scale="1" align="center" align="left" valign="top") &#32;
						%item(id="cobblestone" scale="1" align="center" align="right") &#32;
						%item(id="cobblestone" scale="1" align="center" valign="bottom") &#32;
					%column
						%item(id="cobblestone" scale="0.5" align="center" align="right" valign="top") &#32;
						%item(id="cobblestone" scale="0.5" align="center" valign="top") &#32;
						%item(id="cobblestone" scale="0.5" align="center" align="left") &#32;
						%item(id="cobblestone" scale="0.5" align="center" valign="bottom") &#32;
						%item(id="cobblestone" scale="0.5" align="center" align="right") &#32;
						%item(id="cobblestone" scale="0.5" align="center") &#32;
						%item(id="cobblestone" scale="0.5" align="center" align="left" valign="top") &#32;
						%item(id="cobblestone" scale="0.5" align="center" align="right") &#32;
						%item(id="cobblestone" scale="0.5" align="center" valign="bottom") &#32;
						%item(id="cobblestone" scale="0.5" align="center" align="right" valign="top") &#32;
						%item(id="cobblestone" scale="0.5" align="center" valign="top") &#32;
						%item(id="cobblestone" scale="0.5" align="center" align="left") &#32;
						%item(id="cobblestone" scale="0.5" align="center" valign="bottom") &#32;
						%item(id="cobblestone" scale="0.5" align="center" align="right") &#32;
						%item(id="cobblestone" scale="0.5" align="center") &#32;
						%item(id="cobblestone" scale="0.5" align="center" align="left" valign="top") &#32;
						%item(id="cobblestone" scale="0.5" align="center" align="right") &#32;
						%item(id="cobblestone" scale="0.5" align="center" valign="bottom") &#32;
<br/>
<hr/>
