%carousel
	%carousel-item
		%columns
			%column
				%item(id="croptopia:mango" scale="3")
				<hr/>
				%p(align="center") Mango
			%column
				%item(id="croptopia:peach" scale="3")
				<hr/>
				%p(align="center") Peach
			%column
				%item(id="croptopia:dragonfruit" scale="3")
				<hr/>
				%p(align="center") Dragonfruit
	%carousel-item
		%columns
			%column
				%item(id="farmersdelight:salmon_roll" scale="3")
				<hr/>
				%p(align="center") Salmon Roll
			%column
				%item(id="farmersdelight:steak_and_potatoes" scale="3")
				<hr/>
				%p(align="center") Steak and Potatoes
			%column
				%item(id="croptopia:taco" scale="3")
				<hr/>
				%p(align="center") Taco
	%carousel-item
		%columns
			%column
				%item(id="croptopia:kiwi_sorbet" scale="3")
				<hr/>
				%p(align="center") Kiwi Sorbet
			%column
				%item(id="bakery:chocolate_cake_slice" scale="3")
				<hr/>
				%p(align="center") Chocolate Cake
			%column
				%item(id="beachparty:coconut_icecream" scale="3")
				<hr/>
				%p(align="center") Coconut Ice Cream

