%columns(template="60 40")
	%column
		%h2 Boss Name
		<br/>
		%p &#32;&#32;Lorum Ipsum
	%column(valign="top")
		%entity(type="wolf" scale="3" background="3 darkgrey" border="1 crimson") &#32;
<br/>
<hr/>
<br/>
<h2>Slay 'em All</h2>
---
&&bBlackstone Golem:
Can only be summoned with a golem ritual while being in the nether.

---

&&bThe Eye:
Can only be summoned at an Eye Shrine.

---

&&bNight Lich:
Found in rare towers in cold biomes. Locate the towers by following soul stars.

---

&&bObsidilith:
Appears in rare structures in the end islands.

---

&&bNether Gauntlet:
Appears in rare structures in the nether.

---

&&bVoid Blossom:
Appears in rare caves at the bottom of the world. Void lilies will point the way.

---

&&bGuardian of Gaia:
To summon the boss, shift right-click a Terrasteel Ingot on an active Beacon with 4 Gaia Pylons nearby. Using a Gaia Spirit Ingot will summon a harder version of the boss instead.

---

&&bConjunctivius:
Can be found in the Mine Cells dimension (See Adventurer quest chapter).

---

&&bVoid Shadow:
A new dimension where you will find and fight the Void Shadow.

---

&&bCorrupted Champion:
Collect the three bone staff pieces (Ominous Bone Staff Fragment) from the Ruins structure. Every Ruin has a unique fragment (upper, middle and lower bone staff fragment).

Obtain a bone dagger from an Acolyte, or craft it yourself.

Hold a glass bottle in your offhand and start killing villager with the bone dagger. You'll get a Vial of Blood. Fill the vial to the limit.

Find the Lich Prison structure, a large floating island above the oceans.

Wait until it is night, place the bone staff pieces (from upper to lower) on the dark corrupted deepslate blocks in front of the altar (they should fairly stand out).

Pour the Vial of Blood into the altar.

---
