%columns(template="25 50 25")
	%column
		%p &#160;
	%column
		%columns
			%column
				%item(id="trofers:medium_pillar" tag='{BlockEntityTag:{"trofers:terra"}}' scale="2") &#32;
				%p &#160;
				%item(id="trofers:medium_pillar" tag='{BlockEntityTag:{"trofers:quantum"}}' scale="2") &#32;
			%column
				%item(id="trofers:medium_pillar" tag='{BlockEntityTag:{"trofers:allthequests"}}' scale="2") &#32;
				%p &#160;
				%item(id="trofers:medium_pillar" tag='{BlockEntityTag:{"trofers:completionist"}}' scale="3") &#32;
				%p &#160;
				%item(id="trofers:medium_pillar" tag='{BlockEntityTag:{"trofers:angel_ring"}}' scale="2") &#32;
			%column
				%item(id="trofers:medium_pillar" tag='{BlockEntityTag:{"trofers:boss_rush"}}' scale="2") &#32;
				%p &#160;
				%item(id="trofers:medium_pillar" tag='{BlockEntityTag:{"trofers:cooking"}}' scale="2") &#32;
	%column
		%p &#160;


