%columns(template="25 50 25")
	%column
		-# left margin, empty
	%column
		%columns
			%column
				-# trophies, left
				%item(id="trofers:medium_pillar" scale="3" tag='{BlockEntityTag:{Trophy:"trofers:terra"}}') &#32;
				%item(id="trofers:medium_pillar" scale="3" tag='{BlockEntityTag:{Trophy:"trofers:quantum"}}') &#32;
			%column
				%columns(template="49 2 49")
					%column
					%column
						%columns
							%column
								-# left color panes
							%column
								-# trophies, center
								%item(id="trofers:medium_pillar" scale="3" tag='{BlockEntityTag:{Trophy:"trofers:allthequests"}}') &#32;
								%item(id="trofers:medium_pillar" scale="3" tag='{Rotation:[33,33],BlockEntityTag:{Trophy:"trofers:artest"}}') &#32;
								%item(id="trofers:medium_pillar" scale="3" tag='{BlockEntityTag:{Trophy:"trofers:angel_ring"}}') &#32;
								%item(id="kibe:angel_ring" scale="3") &#32;
								%entity(type="villager" scale="1") &#32;
							%column
								-# right color panes
					%column
			%column								
				-# trophies, right
				%item(id="trofers:medium_pillar" scale="3" tag='{BlockEntityTag:{Trophy:"trofers:boos_rush"}}') &#32;
				%item(id="trofers:medium_pillar" scale="3" tag='{BlockEntityTag:{Trophy:"trofers:cooking"}}') &#32;
	%column
		-# right margin, empty
