<br/>
<br/>
%columns(template="10 80 10")
	%column
		-# left margin, empty
	%column
		%columns
			%column
				-# trophies, left
				%item(id="trofers:medium_pillar" scale="4" tag='{BlockEntityTag:{Trophy:"trofers:terra"}}') &#32;
				%item(id="trofers:medium_pillar" scale="4" tag='{BlockEntityTag:{Trophy:"trofers:quantum"}}') &#32;
			%column
				%columns(template="30 41 30")
					%column
						%p &#160;
					%column
						%columns
							%column
								%columns
									-# left color panes
									%column
										%h2(background="8 #99ff8c00" color="#99ff8c00") &&k01
										%p &#160;
									%column
										%p &#160;
										%h2(background="6 #99ff0000" color="#99ff0000") &&k0123
										%p &#160;
									%column
										%p &#160;
										%h2(background="4 #990000ff" color="#990000ff") &&k012
							%column
								-# trophies, center
								%item(id="trofers:medium_pillar" scale="4" tag='{BlockEntityTag:{Trophy:"trofers:allthequests"}}') &#32;
								%p &#160;
								%p &#160;
								%item(id="trofers:medium_pillar" scale="4" tag='{Rotation:[30,60],BlockEntityTag:{Trophy:"trofers:completionist"}}') &#32;
								%p &#160;
								%p &#160;
								%item(id="trofers:medium_pillar" scale="4" tag='{BlockEntityTag:{Trophy:"trofers:angel_ring"}}') &#32;
							%column
								%p &#160;
					%column
						%p &#160;
			%column								
				-# trophies, right
				%item(id="trofers:medium_pillar" scale="4" tag='{BlockEntityTag:{Trophy:"trofers:boss_rush"}}') &#32;
				%item(id="trofers:medium_pillar" scale="4" tag='{BlockEntityTag:{Trophy:"trofers:cooking"}}') &#32;
	%column
		-# right margin, empty
