%entity(type="armor_stand" scale="2" tag='{Invisible:1,ArmorItems:[{Count:1,id:"modern_industrialization:quantum_boots"},{Count:1,id:"modern_industrialization:quantum_leggings"},{Count:1,id:"modern_industrialization:quantum_chestplate"},{Count:1,id:"modern_industrialization:quantum_helmet"}]}')
