%blockquote(color="lawngreen")
	%component(background="3 black") ["",{"text":"/\u02ccd\u012b\u0259\u02c8lektrik/"},{"text":"adj.","italic":true,"color":"gray"}]
	%p(italic="true" background="3 black")   An electrical insulator that can be polarised by an applied magnetic field.
		
%blockquote(color="gold")
	%component(background="3 black") ["",{"text":"/p\u0101st/ "},{"text":"n.","italic":true,"color":"gray"}]
	%p(italic="true" background="3 black")   A substance that behaves as a solid until a sufficiently large load or strees is applied, at which point it flows like a fluid.

%blockquote(color="crimson")
	%p(background="3 black") It's for making capacitors, not for brushing your teeth.
