%columns(template="20 40 40")
	%column
		%p(align="right") Head:
	%column
		%item(id="beachparty:sunglasses" scale="2") &#32;
	%column
		%item(id="beachparty:beach_hat" scale="2") &#32;
%columns(template="20 80")
	%column
		%p(align="right") Body:
	%column
		%item(id="beachparty:swim_wings" scale="2") &#32;
%columns(template="20 40 40")
	%column
		%p(align="right") Legs:
	%column
		%item(id="beachparty:trunks" scale="2") &#32;
	%column
		%item(id="beachparty:bikini" scale="2") &#32;
%columns(template="20 80")
	%column
		%p(align="right") Feet:
	%column
		%item(id="beachparty:crocs" scale="2") &#32;
<br/>
%p Rubber rings will also protect your torso, as an alternative to swim-wings.
<br/>
%columns(template="60 40")
	%column
		%columns
			%column
				%item(id="beachparty:rubber_ring_blue" scale="2") &#32;
			%column
				%item(id="beachparty:rubber_ring_pink" scale="2") &#32;
			%column
				%item(id="beachparty:rubber_ring_stripped" scale="2") &#32;
	%column
		%columns
			%column
				%item(id="beachparty:rubber_ring_axolotl" scale="2") &#32;
			%column
				%item(id="beachparty:rubber_ring_pelican" scale="2") &#32;
