<hr/>
<br/>
%h1(style="align:center;italic") Casts Away!
<br/>
%p &#32; There are sand cast blanks that are cheap and good for one use only. Gold casts last, but must themselves be made by pouring molten gold over an part or item.
<br/>
%columns
	%column
		%item(style="id:tconstruct:small_blade_sand_cast;scale:3") &#32;
	%column
		%item(style="id:tconstruct:ingot_cast;scale:3") &#32;
	%column
		%item(style="id:tconstruct:hammer_head_red_sand_cast;scale:3") &#32;
<br/>
<br/>
%p &#32; A Cast Chest is handy for storing your casts, and also shares it's UI with the other tables placed alongside.
<br/>
%item(style="id:tconstruct:cast_chest;scale:4") &#32;
<br/>
<hr/>
