<hr/>
<br/>
%p(align="center") The Whole Shall be Greater Than the Sum of Its
<br/>
%h1(style="align:center;i") Parts
<br/>
<br/>
%p &#32; Hephaestus enables you to make several kinds of parts from a broad array of materials. Here is a small selection of five species of parts wrought from several materials:
<br/>
%carousel
	%carousel-item
		%columns(template="40 20 40")
			%column
				%columns
					%column(valign="top")
						%item(style="id:tconstruct:repair_kit;tag:{Material:'tconstruct:enderslime'};scale:2")
						%p(align="center") Ender Slime
					%column(valign="top")
						%item(style="id:tconstruct:pick_head;tag:{Material:'hephaestusplus:terrasteel'};scale:2")
						%p(align="center") Terrasteel
			%column(valign="top")
				%item(style="id:tconstruct:broad_axe_head;tag:{Material:'hephaestusplus:manasteel'};scale:2")
				%p(align="center") Manasteel
			%column
				%columns
					%column(valign="top")
						%item(style="id:tconstruct:broad_blade;tag:{Material:'tconstruct:bloodbone'};scale:2")
						%p(align="center") Bloodbone
					%column(valign="top")
						%item(style="id:tconstruct:tool_binding;tag:{Material:'tconstruct:blazing_bone'};scale:2")
						%p(align="center") Blazing Bone
	%carousel-item
		%columns(template="40 20 40")
			%column
				%columns
					%column(valign="top")
						%item(style="id:tconstruct:repair_kit;tag:{Material:'tconstruct:rose_gold'};scale:2")
						%p(align="center") Rose Gold
					%column(valign="top")
						%item(style="id:tconstruct:pick_head;tag:{Material:'tconstruct:slimewood'};scale:2")
						%p(align="center") Slimewood
			%column(valign="top")
				%item(style="id:tconstruct:broad_axe_head;tag:{Material:'tconstruct:platinum'};scale:2")
				%p(align="center") Platinum
			%column
				%columns
					%column(valign="top")
						%item(style="id:tconstruct:broad_blade;tag:{Material:'tconstruct:electrum'};scale:2")
						%p(align="center") Electrum
					%column(valign="top")
						%item(style="id:tconstruct:tool_binding;tag:{Material:'hephaestusplus:elementium'};scale:2")
						%p(align="center") Elementium
	%carousel-item
		%columns(template="40 20 40")
			%column
				%columns
					%column(valign="top")
						%item(style="id:tconstruct:repair_kit;tag:{Material:'tconstruct:ender_pearl'};scale:2")
						%p(align="center") Ender Pearl
					%column(valign="top")
						%item(style="id:tconstruct:pick_head;tag:{Material:'tconstruct:queens_slime'};scale:2")
						%p(align="center") Queen's Slime
			%column(valign="top")
				%item(style="id:tconstruct:broad_axe_head;tag:{Material:'hephaestusplus:mythril'};scale:2")
				%p(align="center") Mythril
			%column
				%columns
					%column(valign="top")
						%item(style="id:tconstruct:broad_blade;tag:{Material:'hephaestusplus:stormyx'};scale:2")
						%p(align="center") Stormyx
					%column(valign="top")
						%item(style="id:tconstruct:tool_binding;tag:{Material:'tconstruct:osmium'};scale:2")
						%p(align="center") Osmium
<br/>
<br/>
<br/>
%p &#32; Where to keep all your parts? A Part Chest, or the more capacious Tinker's Chest, will do for nicely for that. Naturally, they will share there UI with other abutting stations, builders, and chests.
<br/>
%columns
	%column(valign="top")
		%item(style="id:tconstruct:part_chest;scale:4") &#32;
		%p(style="align:center") Part Chest
	%column(valign="top")
		%item(style="id:tconstruct:tinkers_chest;scale:4") &#32;
		%p(style="align:center") Tinker's Chest
<br/>
<hr/>
