<hr/>
<br/>
%h2(align="center") Let's Table This Discussion
<br/>
<br/>
%p &#32; Er... let's discuss tables. 
<br/>
%p &#32; You will need at least one of each of three kinds. When placed together, using any one will let you access the UI for all.
<br/>
<br/>
%columns
	%column(valign="top")
		%item(style="id:tconstruct:crafting_station;scale:4") &#32;
		%p(style="align:center;strikethrough") Crafting Station
		%p(style="align:center;color:crimson;bold") OUT OF ORDER<span color="goldenrod">*</span>
	%column(valign="top")
		%item(style="id:tconstruct:part_builder;scale:4") &#32;
		%p(align="center") Parts Builder
	%column(valign="top")
		%item(style="id:tconstruct:tinker_station;scale:4") &#32;
		%p(align="center") Tinker Station
<br/>
<hr/>
%p <span color="goldenrod">*</span>For now, use the Crafting Station from <i>Enhanced Workbenches</i> instead.

