<hr/>
<br/>
%h2(align="center") Let's Table This Discussion
<br/>
<br/>
%p Er... let's discuss tables. You will need at least one of each of three kinds:
<br/>
<br/>
%columns
	%column
		%item(style="id:tconstruct:crafting_station;scale:4") &#32;
		%p(align="center") Crafting Station
	%column
		%item(style="id:tconstruct:part_builder;scale:4") &#32;
		%p(align="center") Parts Builder
	%column
		%item(style="id:tconstruct:tinker_station;scale:4") &#32;
		%p(align="center") Tinker Station
<br/>
<hr/>

