%h1(shadowed="true" italic="true" background="3 gold" align="center") Complete them all, become the best!
<br/>
%p Challenges are unlocked when you've killed the &&bEnder Dragon.
<br/>
%p These &&6Challenges &&rwill take you on multiple different paths:
<br/>
%ul
	%li &&bBosses
	%li &&bBecoming a Michelin Chef
	%li &&bQuantum Physics
	%li &&bAngel Flight
	%li &&bShattering of Worlds
	%li &&bUltimate Questing

%columns(template="80 20")
	%column
		%p Complete them all to become The Completionist!
		%h1(shadowed="true" background="3 crimson" align="right") &#160;&#160; Completionist &#160;&#160;
	%column
		%img(src="aof:textures/item/completionist.png" background="3 skyblue" align="left" width="64" height="64") &#160;

