<br/>
%columns(template="2 94")
	%column
		%columns
			%column(valign="top")
				%h1(background="6 lawngreen" color="lawngreen") 123456
			%column(valign="bottom")
				%h1(background="6 goldenrod" border="2 #01000000" color="goldenrod") 123456
			%column
				%h1(background="6 crimson" border="4 #01000000" color="crimson") 123456
	%column
		%columns(template="25 75")
			%column
				%item(id="redstone" scale="6" align="left") &#32;
			%column(valign="middle")
				%h1(align="center" shadowed="true" background="2 #88777777" border="1 white") Farmer o' Worlds!
