%columns(template="22 56 22")
	%column
	%column
		%columns(template="25 75")
			%column
				%item(id="kubejs:quester" align="right" background="3 lightseagreen" border="3 goldenrod" scale="4") &#32;
			%column(valign="top")
				%h1(background="3 goldenrod" italic="true" shadowed="true") Quests!
				<br/>
				%p(italic="true")  &#32;   Tasks and Rewards!
				%p(italic="true")  &#32;   Hints, Lore, and Loot!
	%column
<br/>
<br/>
%columns(template="4 92 4")
	%column
	%column
		%p(align="center") Quests map out progression across terra incognita.
		<br/>
		%p(align="center") Some may tile and pave rough earth.
		%p(align="center") Some are stepping stones in a cold, burbling stream.
		%p(align="center") Some are steps fit to giants.
		%p(align="center") Some simply tell a tale.
	%column
<br/>
%columns(template="2 94 2")
	%column
	%column
		%columns(template="74 25")
			%column(valign="bottom")
				%p(align="right" italic="true") All are there for your advantage.   &#32;
				%p(align="right" italic="true") Will you ascend their summit?   &#32;
				<br/>
				%h1(color="gold" italic="true" shadowed="true" background="3 0x882032" align="right") Completionist
			%column
				%item(id="kubejs:completionist" scale="4" background="3 royalblue" border="3 0x882032" align="left") &#32;
		%column
	%column
