# File Specification: https://gist.github.com/Shadows-of-Fire/88ac714a758636c57a52e32ace5474c1

# Zenith Module Control

# Report any issues found to https://github.com/TheWinABagel/Zenith/issues, not to Apotheosis!


general {
    # If the enchantment module is enabled.
    # Default: true
    B:"Enable Enchantment Module"=true

    # If the adventure module is loaded.
    # Default: true
    B:"Enable Adventure Module"=true

    # If the spawner module is enabled.
    # Default: true
    B:"Enable Spawner Module"=false

    # If the potion module is loaded.
    # Default: true
    B:"Enable Potion Module"=true

    # If the village module is loaded.
    # Default: true
    B:"Enable Village Module"=true

    # If the garden module is loaded.
    # Default: true
    B:"Enable Garden Module"=true

    # If a lot of random debug info is added to the console. Not recommended for normal play.
    # Default: false
    B:"Enable Debug mode"=false

    # If the Chronicle of Shadows is given to new players.
    # Default: true
    B:"Give Book on First Join"=false
}


